@font-face { font-family: 'roboto'; src: url('../asset/font/roboto/Roboto-Regular.ttf') format('truetype'); }
@font-face { font-family: 'roboto-medium'; src: url('../asset/font/roboto/Roboto-Medium.ttf') format('truetype'); }
@font-face { font-family: 'ralewayBlack'; src: url('../asset/font/raleway/Raleway-Black.ttf') format('truetype'); }

a{ text-decoration: none; }
a.link{ color: #3a81bc; }
a.link:hover{ font-family: roboto-medium, monospace; cursor: pointer; }
a.sidebar{ color: #24292e; }
a.sidebar:hover{ font-family: roboto-medium, monospace; color: #4CAF50; cursor: pointer; }
a.webName{
    margin-right: 10px;
    font-family: ralewayBlack, monospace;
    font-size: 24px;
}
body{
    margin: 0;
    padding: 0;
    font-family: roboto, monospace;
    font-size: 12px;
    background-color: #fafafa;
    color: #24292e;
}
button.blue{ padding: 4px 16px; background-color: #3a81bc; color: #fff; border: 1px solid #3a81bc; border-radius: 4px; }
button.blue:hover{ background-color: #386b98; }
button.white{ padding: 4px 16px; background-color: #fff; color: #000; border: 1px solid #3a81bc; border-radius: 4px; }
button.white:hover{ background-color: #ddd; }
div.header{ width: 100%; height: 70px; line-height: 70px; margin: 0 auto; padding: 0 10%; background-color: #24292e; color: #fff; box-sizing: border-box;}
div.wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    overflow: auto;
}
div.wrapper-side{
    float: left;
    width: 20%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.side{
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}
h2{font-family: roboto-medium, monospace; font-weight: normal; margin: 10px 0 5px 0; }
h3{font-family: roboto-medium, monospace; font-weight: normal; margin: 5px 0; }
p{ margin: 0px 0; } 
hr{ border: none; border-top: 1px solid #ddd; }
img.icon{ vertical-align: middle; margin-right: 10px;}
img.icon-s{ height: 16px; vertical-align: middle;}
input{ padding: 4px; border: 1px solid #ddd; font-size: 12px; }
table.def{ border-collapse: collapse; }
td.def{ padding: 4px 8px; }
td.def-0{ padding: 8px 16px; border-width: 1px; border-style: solid solid solid solid; border-color: #ddd; }
tr.def{ border-bottom: 1px solid #ddd; }
li{ margin-left: -10px; }

.modal-wrapper{ display: none; position: fixed; z-index: 1; padding-top: 150px; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.8); }
.modal-s-content { width: 33%; background-color: #fff; color: #000; margin: auto; padding: 24px; border-radius: 4px; text-align: left; }
.close { color: #aaa; float: right; font-size: 24px; font-weight: bold; }
.close:hover,
.close:focus { color: #000; text-decoration: none; cursor: pointer; }

.fit{ width: 100%; }
.fl-r{ float: right; }
.wi-50{ width: 50%; }

.cl-blue{ color: #3a81bc; }
.content{
    float: right;
    width: 79%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}
.pop{ height: 12px; line-height: 12px; padding: 4px 4px; background: #e1ecf4; border-radius: 4px; font-size: 10px; }
.pop-green{ height: 12px; line-height: 12px; padding: 4px 4px; background: linear-gradient(#A5D6A7, #66BB6A); color: #fff; border-radius: 4px; font-size: 10px; }
.pop-green:hover{ background: linear-gradient(#66BB6A, #A5D6A7); }
.pop-red{ height: 12px; line-height: 12px; padding: 4px 4px; background: linear-gradient(#F48FB1, #EC407A); color: #fff; border-radius: 4px; font-size: 10px; }
.pop-red:hover{ background: linear-gradient(#EC407A, #F48FB1); }
.ta-c{ text-align: center; }
.va-tb{ vertical-align: text-bottom; }
