@font-face { font-family: 'roboto'; src: url('../asset/font/roboto/Roboto-Regular.ttf') format('truetype'); }
@font-face { font-family: 'roboto-medium'; src: url('../asset/font/roboto/Roboto-Medium.ttf') format('truetype'); }
@font-face { font-family: 'ralewayBlack'; src: url('../asset/font/raleway/Raleway-Black.ttf') format('truetype'); }

a{ text-decoration: none; }
a.sidebar{ color: #24292e; }
a.sidebar:hover{ font-weight: bold; color: #4CAF50;}
a.webName{
    margin-right: 10px;
    font-family: ralewayBlack, monospace;
    font-size: 24px;
}
body{
    margin: 0;
    padding: 0;
    font-family: roboto, monospace;
    font-size: 14px;
    background-color: #fafafa;
    color: #24292e;
}
div.header{ width: 100%; height: 70px; line-height: 70px; margin: 0 auto; padding: 0 10%; background-color: #24292e; color: #fff; box-sizing: border-box;}
div.wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    overflow: auto;
}
h1, h2, h3{font-family: roboto-medium, monospace; font-weight: normal; margin: 5px 0; }
hr{
    border: none; border-top: 1px solid #ddd;
}
img.icon{ vertical-align: middle; margin-right: 10px;}
img.icon-s{ height: 16px; vertical-align: middle;}
table.def{ border-collapse: collapse; }
td.def{ padding: 4px 8px; }
th.def{ padding: 4px 8px; background-color: #3a81bc; color: #fff; text-align: left; font-family: roboto, monospace; font-weight: normal;}
tr.def{ border-bottom: 1px solid #ddd; }
tr.def:nth-child(even){ background-color: #f5f5f5; }
tr.def:last-child{ border-bottom: 2px solid #3a81bc; }

.fit{ width: 100%; }
.wi-50{ width: 50%; }
.side{
    float: left;
    width: 20%;
    padding: 1%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}
.cl-blue{ color: #3a81bc; }
.content{
    float: right;
    width: 79%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}
.popPHP{ height: 16px; padding: 2px 4px; box-sizing: border-box; background: #8892bf; color: #fff; border-radius: 0px; text-align: center; }
.popJS{ height: 16px; padding: 2px 4px; box-sizing: border-box; background: #fcdc00; border-radius: 0px; text-align: center; }
.pop-sidebar{ float: right; height: 12px; line-height: 12px; padding: 4px 4px; background: #e1ecf4; border-radius: 4px; }
.pop-sidebar-green{ float: right; height: 12px; line-height: 12px; padding: 4px 4px; background: linear-gradient(#A5D6A7, #66BB6A); color: #fff; border-radius: 4px; }
.popHTML{ height: 16px; padding: 2px 4px; box-sizing: border-box; background: #ffcdd2; border-radius: 0px; text-align: center; }
.ta-c{ text-align: center; }
